body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
}

#jsonInput {
    width: 80%; /* Adjust width as needed */
    max-height: 300px; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#generateJSONPaths {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

#generateJSONPaths:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#resultTable {
    display: none; /* Initially hide the table */
}

/* ... existing CSS ... */

.copyable {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.copyable:hover {
    background-color: #f0f0f0;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

h1 {
    text-align: center;
    color: #333;
}

.description, .note {
    text-align: center;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.custom-alert {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.custom-alert-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    max-width: 400px;
}

.custom-alert-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.custom-alert-close:hover,
.custom-alert-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.loader-container {
    display: none; 
}
.loader {
    display: flex;
    justify-content: space-around;
    width: 60px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #3498db;
    border-radius: 50%;
    animation: dotFlashing 1.0s infinite linear alternate;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dotFlashing {
    0% { background-color: #3498db; }
    50%,
    100% { background-color: #f3f3f3; }
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

